---
import LucideChevronLeft from 'icons:astro/lucide/chevron-left'

import Layout from '@/layouts/Layout.astro'
import { getCompany } from '@/data/companies'
import Company from '@/components/company/Company.astro'
import OtherCompanies from '@/components/company/OtherCompanies.svelte'
import { buttonVariants } from '@/components/ui/button'

const { id = '' } = Astro.params

// Assume the wikidataId to be in the final part of the URL
const wikidataId = id.split('-').at(-1) ?? ''
const company = wikidataId.startsWith('Q') ? await getCompany(wikidataId) : null

const baseTitle = 'Klimatkollen - få koll på företagens utsläpp'

const title = `${company?.name ? `${company.name} | ` : ''}${baseTitle}`
---

<Layout {title}>
  {
    company ? (
      <Company {company} />
    ) : (
      <div class="mx-auto flex max-w-screen-md flex-col items-start p-4">
        <p class="py-4">
          Vi hittade inget företag med den länken, men testa gärna att söka här
          nedanför!
        </p>

        <div class="grid w-full place-items-center">
          <OtherCompanies client:load />

          <a
            class={buttonVariants({
              variant: 'default',
              class: 'mt-8 gap-1 pl-2',
            })}
            href="/foretag/utslappen/lista"
          >
            <LucideChevronLeft class="h-5 w-5" />
            Tillbaka till alla företag
          </a>
        </div>
      </div>
    )
  }
</Layout>
