---
import Layout from '@/layouts/Layout.astro'
import { type CompanyData, isCompany } from '@/data/companyData'
import Company from '@/components/company/Company.astro'

const { name = '' } = Astro.params

/**
 * Conditionally load cached local JSON file instead of fetching from the API
 */
async function getCompanies() {
  let data: CompanyData[]

  if (process.env.NODE_ENV === 'production') {
    data = await fetch('https://api.klimatkollen.se/api/companies').then(
      (res) => res.json(),
    )
  } else {
    // prettier-ignore
    // @ts-ignore Don't care about this TS error
    data = (await import('@/data/12-jun-test-companies.json')).default as CompanyData[]
  }

  return data.filter(isCompany) as CompanyData[]
}

const companies = await getCompanies()
const company = companies.find(
  (company) =>
    company.companyName.toLowerCase().replaceAll(' ', '-') ===
    name.toLowerCase(),
)
---

<Layout title="Klimatkollen - få koll på företagens utsläpp">
  {company ? <Company {company} /> : null}

  {
    process.env.NODE_ENV === 'development' ? (
      <div class="mt-16 flex flex-wrap gap-2 text-nowrap p-4">
        {companies.map((c) => (
          <a
            href={c.companyName.toLocaleLowerCase().replaceAll(' ', '-')}
            class="underline"
          >
            {c.companyName}
          </a>
        ))}
      </div>
    ) : null
  }
</Layout>
