---
import LucideGoal from 'icons:astro/lucide/goal'
import { Card } from '../ui/card'
import type { CompanyData } from '@/data/companyData'

interface Props {
  goals: CompanyData['goals']
}

const { goals } = Astro.props
---

{
  goals ? (
    <Card class="grid gap-8" level={1}>
      <h2 class="pt-4 text-center text-3xl leading-none tracking-tight md:pt-0">
        Mål
      </h2>
      <ul class="grid gap-2">
        {goals.map((goal) => (
          <li class="flex items-center gap-4">
            <div class="flex aspect-square h-10 w-10 items-center justify-center self-start rounded-md bg-gray-800">
              <LucideGoal class="h-5 w-5 text-blue-250" />
            </div>
            <div>
              <p class="font-medium">{goal.description}</p>
              <p class="pt-1 text-sm text-muted">Fram till {goal.year}</p>
            </div>
          </li>
        ))}
      </ul>
    </Card>
  ) : null
}
