---
import MingcuteCheckLine from 'icons:astro/mingcute/check-line'
import { Card } from '../ui/card'
import type { CompanyData } from '@/data/companyData'

interface Props {
  initiatives: CompanyData['initiatives']
}

const { initiatives } = Astro.props
---

{
  initiatives ? (
    <Card class="grid gap-8" level={1}>
      <h2 class="pt-4 text-center text-3xl leading-none tracking-tight md:pt-0">
        Initiativ
      </h2>
      <ul class="grid gap-2">
        {initiatives.map((initiative) => (
          <li class="flex items-center gap-4">
            <div class="flex aspect-square h-10 w-10 items-center justify-center self-start rounded-md bg-gray-800">
              <MingcuteCheckLine class="h-5 w-5 text-pink-250" />
            </div>
            <div>
              <p class="font-medium">{initiative.title}</p>
              <p class="pt-1 text-sm text-muted">{initiative.description}</p>
            </div>
          </li>
        ))}
      </ul>
    </Card>
  ) : null
}
