---
import { cn } from '@/lib/utils'

interface Props {
  title: string
  data: string | number
  class?: string
  verified?: string | null
}

const { title, data, class: className, verified } = Astro.props
---

<!-- TODO: Provide data and make these data points verified too. For this, we need new API data though. -->
<div class={cn('flex items-center justify-between text-sm', className)}>
  <h3>{title}</h3>
  <span
    class={cn(
      'rounded-full px-4 py-2 text-xs sm:text-sm',
      verified ? 'bg-blue-250 text-blue-950' : 'bg-gray-800',
    )}
  >
    {data}
  </span>
</div>
