---
import CheckIcon from '~icons/local/check'
import { Card } from '../ui/card'
import type { CompanyData } from '@/data/companyData'

interface Props {
  goals: CompanyData['goals']
}

const { goals } = Astro.props
---

<Card class="grid gap-4" level={1}>
  <h2 class="pb-4 text-3xl leading-none tracking-tight">Mål</h2>
  <ul class="grid gap-2">
    {
      goals.map((goal) => (
        <li class="flex items-center gap-4">
          <div class="flex aspect-square h-10 w-10 items-center justify-center rounded-md bg-gray-800">
            <CheckIcon class="h-5 w-5" />
          </div>
          <div>
            <div class="font-medium">{goal.description}</div>
            <div class="text-sm text-muted">Fram till {goal.year}</div>
          </div>
        </li>
      ))
    }
  </ul>
</Card>
