---
import { cn } from '@/lib/utils'

interface Props {
  title: string
  data: string | number
  class?: string
}

const { title, data, class: className } = Astro.props
---

<div class={cn('flex items-center justify-between text-sm', className)}>
  <h3>{title}</h3>
  <span class="rounded-full bg-gray-800 px-4 py-2 text-xs">
    {data}
  </span>
</div>
