---
import { cn, isNumber } from '@/lib/utils'
import VerifiedBadge from '../VerifiedBadge.astro'

interface Props {
  Icon?: astroHTML.JSX.Element
  title: string
  description: string
  value?: number | string | null
  verified?: boolean | null
}

const { Icon, title, description, value, verified } = Astro.props

const hasValue = isNumber(value)
---

<div class="flex items-start justify-between gap-4">
  <div class="flex items-start gap-4">
    <div
      class="flex aspect-square h-10 w-10 items-center justify-center rounded-md bg-gray-800"
    >
      {
        Icon && (
          <Icon
            class={cn('h-5 w-5', hasValue ? 'text-orange-250' : 'text-muted')}
          />
        )
      }
    </div>
    <div class="w-full">
      <h4
        class={cn(
          'font-medium flex gap-1 items-center',
          !hasValue && 'text-muted',
        )}
      >
        {title}
        {verified && <VerifiedBadge />}
      </h4>
      <p class="text-xs text-muted sm:text-sm">{description}</p>
    </div>
  </div>
  <span
    class={cn(
      'rounded-full px-4 py-2 text-sm bg-gray-800 font-mono',
      !hasValue && 'text-muted',
    )}
    >{
      value?.toLocaleString('sv-SE', {
        maximumFractionDigits: 0,
      }) ?? '-'
    }</span
  >
</div>
