---
import { type Municipality } from '@/data/municipalityTypes'
import { Card } from '../ui/card'
import MunicipalityGraph from './MunicipalityGraph.svelte'

interface Props {
  municipality: Municipality
}

const { municipality } = Astro.props

console.log('hejsan')
console.log(municipality)

const historicalEmissions = municipality.HistoricalEmission.EmissionPerYear.map(
  (e) => ({
    year: e.Year,
    emission: e.CO2Equivalent,
  }),
)

const approximatedEmissions =
  municipality.ApproximatedHistoricalEmission.EmissionPerYear.map((e) => ({
    year: e.Year,
    emission: e.CO2Equivalent,
  }))

const trendEmissions = municipality.EmissionTrend.TrendPerYear.map((e) => ({
  year: e.Year,
  emission: e.CO2Equivalent,
}))

const budgetEmissions = municipality.Budget.BudgetPerYear.map((e) => ({
  year: e.Year,
  emission: e.CO2Equivalent,
}))
---

<Card class="text-sm" level={1}>
  <h5
    class="text-l text-balance pb-4 pt-2 leading-none tracking-tight md:pt-0 lg:text-xl"
  >
    Kommunens utsläpp
  </h5>

  <div class="grid gap-4 pt-4">
    <MunicipalityGraph
      client:load
      {historicalEmissions}
      {approximatedEmissions}
      {trendEmissions}
      {budgetEmissions}
    />
  </div>
</Card>
