---
import { type Municipality } from '@/data/municipalityTypes'
import { buttonVariants } from '../ui/button'
import OtherMunicipalities from './OtherMunicipalities.svelte'
import MunicipalityFacts from './MunicipalityFacts.astro'
import MunicipalityKPIs from './MunicipalityKPIs.astro'

interface Props {
  municipality: Municipality
}

const { municipality } = Astro.props
---

<article class="mx-auto max-w-screen-lg xs:px-4">
  <>
    <div class="mt-8 grid gap-8">
      <MunicipalityFacts {municipality} />

      <MunicipalityKPIs {municipality} />

      <!-- <CompanyGoals goals={company.goals} />

      <CompanyInitiatives initiatives={company.initiatives} /> -->

      <div class="grid place-content-center py-16">
        <OtherMunicipalities client:idle />
      </div>
    </div>
  </>
</article>
