---
import { type Municipality } from '@/data/municipalityTypes'
import { Card } from '../ui/card'

interface Props {
  neededEmissionChangePercent: number
  actualEmissionChangePercent: number
}

const { neededEmissionChangePercent, actualEmissionChangePercent } = Astro.props
---

<div class="grid gap-4 pt-1 md:grid-cols-2">
  {
    neededEmissionChangePercent && (
      <Card level={2} class="flex flex-col justify-between gap-4">
        <div class="flex items-start justify-between">
          <h3 class="flex items-center gap-1">
            Utsläppsförändring per år för att klara Parisavtalet
          </h3>
        </div>

        <p class="text-3xl leading-none tracking-tight text-green-500 sm:text-4xl md:text-5xl lg:text-6xl">
          {neededEmissionChangePercent.toFixed(1)}%
        </p>
      </Card>
    )
  }
  {
    actualEmissionChangePercent && (
      <Card level={2} class="flex flex-col justify-between gap-4">
        <div class="flex items-start justify-between">
          <h3 class="flex items-center gap-1">
            Faktisk utsläppsförändring sedan 2015
          </h3>
        </div>

        <p class="text-3xl leading-none tracking-tight text-red-500 sm:text-4xl md:text-5xl lg:text-6xl">
          {actualEmissionChangePercent}
        </p>
      </Card>
    )
  }
</div>
