---
import Layout from '../layouts/Layout.astro'
import { Companies } from '../components/ui/companies.tsx'
import '../../app/globals.css'

---

<Layout title="Welcome to Astro.">
  <main class="flex flex-wrap gap-2">
    <Companies />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
