---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../../app/globals.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			Hello world
		</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
