---
import Layout from '@/layouts/Layout.astro'
import Accordion from '@/components/accordion.svelte'

const title = 'Om oss | Klimatkollen - få koll på företagens utsläpp'
---

<Layout {title}>
  <div class="bg-black text-white mt-12 min-h-screen p-4">
    <div class="mx-auto w-full max-w-[830px] px-4 text-left">
      <h1
        class="text-white mb-4 p-0 font-sans text-4xl !font-[400] leading-[40px]"
      >
        Om oss
      </h1>
      <p
        class="text-white !mt-5 mb-6 font-sans text-base font-normal leading-[1.6]"
      >
        Klimatkollen är en medborgarplattform som tillgängliggör klimatdata.
        Klicka på rubrikerna för att läsa mer.
      </p>
      <Accordion client:load />
    </div>
  </div>
</Layout>

<style>
  .bg-black {
    background-color: black;
  }

  .text-white {
    color: white;
  }

  .min-h-screen {
    min-block-size: 100vh;
  }

  .p-4 {
    padding: 1rem;
  }

  .relative {
    position: relative;
  }

  .mb-8 {
    margin-block-end: 2rem;
  }

  .text-2xl {
    font-size: 1.5rem;
  }

  .font-bold {
    font-weight: bold;
  }

  .mt-2 {
    margin-block-start: 0.5rem;
  }

  .bg-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-start: 3rem;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-block-end: 0.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
    margin-block-start: 0.5rem;
    margin-block-end: 2rem;
  }

  .accordion {
    inline-size: 100%;
    max-inline-size: 790px;
    padding: 1rem;
    margin-block-end: 2rem;
  }
  :global(.accordion-item) {
    padding: 1rem 0;
    margin-block-end: 0.5rem 0px;
  }

  .accordion-item h2 {
    font-size: 1.25rem;
    color: #fff;
  }

  .accordion-item p {
    color: #ccc;
    font-size: 0.875rem;
    line-height: 1.6;
    padding: 0.5rem 0;
  }

  /* .about-us-content-container {
    max-inline-size: 830px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: start;
    inline-size: 100%;
  }

  .about-us-intro-title {
    font-family: 'DM Sans Variable', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-block-end: 16px;
    padding: 0;
    color: white;
    line-height: 40px;
  }

  .about-us-intro-text {
    font-family: 'DM Sans Variable', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-block-start: 8px;
    margin-block-end: 1em;
    color: white;
    line-height: 1.6;
  } */

  .accordion {
    margin: 0;
    padding: 0;
  }
</style>
