---
// const navItems = [
//   {
//     href: 'https://www.klimatkollen.se/kallor-och-metod',
//     label: 'Källor och metod',
//   },
//   { href: 'https://www.klimatkollen.se/om-oss', label: 'Om oss' },
//   { href: 'https://klimatkollen.teamtailor.com/', label: 'Jobb' },
//   { href: 'https://www.klimatkollen.se/in-english', label: 'In English' },
// ]
---

<header class="sticky top-0 z-50 w-full bg-black">
  <div
    class="container relative flex h-12 max-w-screen-2xl items-center justify-between"
  >
    <div class="absolute left-0 z-30 flex h-full items-center pl-4">
      <a
        href="https://www.klimatkollen.se/foretag/utslappen/lista"
        class="text-white"
        title="Gå tillbaka"
        aria-label="Gå tillbaka"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
      </a>
    </div>
    <div class="absolute inset-0 z-20 flex items-center justify-center">
      <a
        class="flex items-center space-x-2"
        href="https://www.klimatkollen.se/"
      >
        <img
          src="/klimatkollen_logo.svg"
          alt="Klimatkollen logga"
          width={150}
        />
      </a>
    </div>
  </div>
</header>
