---
import LucideChevronLeft from 'icons:astro/lucide/chevron-left'

// const navItems = [
//   {
//     href: 'https://www.klimatkollen.se/kallor-och-metod',
//     label: 'Källor och metod',
//   },
//   { href: 'https://www.klimatkollen.se/om-oss', label: 'Om oss' },
//   { href: 'https://klimatkollen.teamtailor.com/', label: 'Jobb' },
//   { href: 'https://www.klimatkollen.se/in-english', label: 'In English' },
// ]

const baseURL = import.meta.env.DEV
  ? 'http://localhost:3000'
  : 'https://klimatkollen.se'
---

<header class="sticky top-0 z-50 w-full bg-black">
  <div
    class="container relative flex h-12 max-w-screen-2xl items-center justify-between"
  >
    <div class="absolute left-0 z-30 flex h-full items-center pl-4">
      <a
        href={`${baseURL}/foretag/utslappen/lista`}
        class="-ml-2 p-2 text-white"
        title="Gå tillbaka"
        aria-label="Gå tillbaka"
      >
        <LucideChevronLeft class="h-6 w-6" />
      </a>
    </div>
    <div class="absolute inset-0 z-20 flex items-center justify-center">
      <a class="flex items-center pt-1" href={baseURL}>
        <img
          src="/klimatkollen_logo.svg"
          alt="Klimatkollen logga"
          width={150}
        />
      </a>
    </div>
  </div>
</header>
