---
import { cn } from '@/lib/utils'
import LucideBadgeCheck from 'icons:astro/lucide/badge-check'

interface Props {
  title?: string
  class?: string
}

const { title = 'Verifierat', class: className } = Astro.props
---

<div class={cn('cursor-help p-1', className)} {title} aria-label={title}>
  <LucideBadgeCheck class="h-4 w-4 text-green-250" />
</div>
