---
import Socials from './Socials.svelte'
---

<footer>
  <section class="bg-gray-750 py-6 text-white">
    <div class="container mx-auto mt-6 px-4 sm:px-8">
      <p class="mb-4 text-sm text-gray-200">Kontakta oss</p>
      <p class="mb-4 text-3xl">hej@klimatkollen.se</p>

      <div class="mb-6">
        <div class="mb-4 flex-1 text-center md:mb-0">
          <Socials />
        </div>
      </div>

      <p class="width-50 mb-8 text-sm">
        Klimatkollen är en medborgarplattform som tillgängliggör klimatdata och
        är utvecklad med {' '}
        <a
          href="https://github.com/Klimatbyran/klimatkollen"
          target="_bland"
          class="underline"
        >
          öppen källkod
        </a>.
        <br />
        Sidan drivs av den ideella föreningen Klimatbyrån.
      </p>

      <p class="text-xs text-gray-250">
        CC BY-SA{' '}
        <a
          href="http://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank"
          class="underline"
        >
          Attribution-ShareAlike 4.0 International license
        </a>
      </p>
    </div>
  </section>
</footer>
