---
interface Props {
  author: string
  authorImg?: string
  date: string
}

const { author, authorImg, date } = Astro.props
const defaultImg = "/people/placeholder-user.jpg"
const img = authorImg ?? defaultImg

---

<div class="mt-16 flex items-center border-t border-gray-700 pt-8">
  <img
    src={img}
    alt={`${author}'s profile picture`}
    class="h-14 w-14 rounded-full object-cover"
  />
  <div class="ml-4">
    <p class="text-lg font-medium">{author}</p>
    <p class="text-sm text-gray-200">
      Publicerad {new Date(date).toLocaleDateString('sv-SE')}
    </p>
  </div>
</div>
