---
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
)

const { currentSlug } = Astro.props
---

<aside class="hidden w-64 pl-8 lg:block">
  <h2 class="mb-4 text-xl font-medium">Tidigare inlägg</h2>
  <ul class="space-y-4">
    {
      posts.map((post) => (
        <li
          class={
            currentSlug === post.slug
              ? 'text-primary'
              : 'text-gray-200 hover:text-primary'
          }
        >
          <a href={`/blog/${post.slug}`} class="block">
            <h3 class="mb-1 font-medium">{post.data.title}</h3>
            <time datetime={post.data.date} class="text-sm">
              {new Date(post.data.date).toLocaleDateString('sv-SE')}
            </time>
          </a>
        </li>
      ))
    }
  </ul>
</aside>
