apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: frontend
resources:
  - ../../base
patches:
  - path: ingress-patch.yaml
images:
  - name: ghcr.io/klimatbyran/frontend
    newTag: '0.0.1-rc.1' # {"$imagepolicy": "flux-system:frontend:tag"}
