---
import '@fontsource-variable/dm-sans'
import '../../app/global.css'
import Header from '@/components/Header.svelte'
import Footer from '@/components/footer/Footer.astro'
import { Toaster } from 'sonner'

interface Props {
  title: string
  description?: string
}

// IDEA: Maybe add default meta tags
const { title, description } = Astro.props
---

<!doctype html>
<html lang="sv" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <Toaster />
  </body>
</html>
