apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: frontend-stage
resources:
  - ../../base
images:
  - name: ghcr.io/klimatbyran/frontend
    newTag: "3.0.26" # {"$imagepolicy": "flux-system:frontend:tag"}
